
  .container .lead
  {
      list-style-type: none;
      
  }

  .lead ul {
    list-style: none;
    float: left;
    margin: 0;
    
}
.lead ul li
{
    float: left;
    width: 100px;
    line-height: 80px;
    vertical-align:initial;
    text-align:left;
    margin: 0;
}
.lead ul li a {
    width: 100px;
    
    color: #FFFFFF;
}

.card .card-header .mb-0 .btn
{
  text-decoration: none;
}


