

.card-body {
  margin-left: 80px;
}

#cover {
  background: rgb(246, 242, 242) center center no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* only used for background overlay not needed for centering */
form:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgb(251, 249, 249);
  z-index: -5;
  border-radius: 10px;
}
